/*Basic styling*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: whitesmoke;
    font-family: 'Indie Flower', cursive;
    color: #2C5F2D;
}
.title {
    margin-bottom: 10px;
    padding-bottom: 10px;
    width: 100%;
    font: 150% 'Caveat', cursive;
    text-align: center;
    color: black;
}
a:link {
    text-decoration: none;
    color: black;
}
.nav-link :visited {
    color: black;
}
.nav-link :hover {
    color: yellow;
}
.nav-link :active {
    color: white;
}
.navbar {
    padding-bottom:10px;
}
li{
    padding: 5px 0px 5px;
    margin-bottom:5px;
    list-style: none;
    font:normal 20px Arial, sans-serif;
    color:black;
    text-align: center;
}
.about {
    margin: 20px 0px 40px 10px;
    font: italic 50px Arial, sanserif;
    text-decoration: underline;
    text-align: center;
}
.text, .text-contact {
    margin:5px 10px 20px 10px;
    text-align: justify;
    font:normal 100% 10em 'Indie Flower', cursive;
    line-height: 2;
}
.text {
    text-indent: 50px;
}
#lunahome {
    display: block;
    width: 80%;
    height: auto;
    margin: 5px auto 20px;
    border: 2px solid #2C5F2D;
}
h2 {
    margin: 20px 0px;
    text-decoration: underline;
    font-size: 200%;
}
.text-hobby, .text-hobby2,.text-hobby3{
    line-height: 2;
    width: 0;
    min-width: 100%;
}
.img-hobby {
    border-radius: 50%;
    width: 80%;
    height: auto;
    padding: 0px 20px;
}
.form-hobby {
    margin: 8% 0% 10% 0%;
}
h3 {
    margin: 0% 0% 3% 1%;
    font-size: 150%;
}
.input-hobby, .label-hobby {
    margin: 10px;
}
.button {
    margin: 10px 0px 30px 10px;
    padding: 10px 0px;
    width: 30%;
    background:#2C5F2D;
    color:whitesmoke;
    border-radius: 10px;
    border: none;
    font-size: 130%;
    font-weight:400;
    cursor:pointer;
}
.contact {
    margin: 20px 0px 20px 5px;
    font: normal 30px Arial, sanserif;
    text-decoration: underline;
    text-align: left;
}
.label {
    font: normal 20px Times New Roman, serif;
    margin-left: 10px;
}
input {
    margin: 10px 10px 10px 10px;
}
input[type=text],[type=email],[type=tel]{
    width: 50%;
    padding: 10px; 
    display: block;
}
input[type=radio]{
    margin-bottom: 5%;
}
footer {
    padding: 50px 25px 50px 20px;
    width: 100%;
    background-image: url(./header.jpg);
    background-position: bottom;
    text-align: center;
    font: bold 150% 'Indie Flower', cursive;
    color: black;
}
    
/*Styling with flexbox and grid*/

.flexbox {
    background-image:url(header.jpg);
    background-position: center;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    border-bottom: 2px solid rgb(64, 63, 63);  
}
.flex-container {
    display: flex;
    flex-flow: column nowrap;
    justify-content:center;
    text-align: center;
    margin: 5px;
}
.flex-hobby{
    flex:1;
    background-color: #ebecf0;
    border: 2px solid white;
}
.grid-container {
    height: 100%;
    margin: 10px 5px; 
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(15, 50px);
    grid-gap: 5px;   
}
.gallery-img {
    width: 100%;
    height: 100%;
}
.gallery-img:hover {
    border: 5px solid #FFDB58;
}
.gallery-picture-1 {
   grid-area: 1 / 1 / 3 / 5;
}
.gallery-picture-2 {
    grid-area: 1 / 5 / 3 / 9;
}
.gallery-picture-3 {
    grid-area: 7 / 9 / 10 / -1;
}
.gallery-picture-4 {
    grid-area: 7 / 1 / 10 / 9;
}
.gallery-picture-5 {
    grid-area: 3 / 1 / 7 / 8;
}
.gallery-picture-6 {
    grid-area: 1 / 9 / 3 / 13;
}
.gallery-picture-7 {
    grid-area: 10 / 9 / 14 / -1;
}
.gallery-picture-8 {
    grid-area: 1 / 13 / 3 / -1;
}
.gallery-picture-9 {
    grid-area: 14 / 1 / -1 / 5;
}
.gallery-picture-10 {
    grid-area: 10 / 1 / 14 / 9;
}
.gallery-picture-11 {
    grid-area: 14 / 5 / -1 / 9;
}
.gallery-picture-12 {
    grid-area: 14 / 9 / -1 / 13;
}
.gallery-picture-13 {
    grid-area: 14 / 13 / -1 / -1;
}
.gallery-picture-14 {
    grid-area: 3 / 8 / 7 / -1;
}

/*Media Queries*/

@media screen and (min-width:600px) {
    .flex-container {
        flex-flow: row wrap;
       }
   .text-hobby2 {
    margin-top: 30%;
   }
   .text-hobby3 {
    margin-top: 12%;
   }
.grid-container {
    grid-template-columns: repeat(14, 1fr);
    grid-template-rows: repeat(13, 50px);  
}
.gallery-picture-1 {
   grid-area: 1 / 1 / 4 / 5;
}
.gallery-picture-2 {
    grid-area: 1 / 5 / 3 / 8;
}
.gallery-picture-3 {
    grid-area: 1 / 8 / 3 / 11;
}
.gallery-picture-4 {
    grid-area: 3 / 5 / 7 / 11;
}
.gallery-picture-5 {
    grid-area: 4 / 1 / 8 / 5;
}
.gallery-picture-6 {
    grid-area: 11 / 11 / -1 / -1;
}
.gallery-picture-7 {
    grid-area: 4 / 11 / 8 / -1;
}
.gallery-picture-8 {
    grid-area: 8 / 11 / 11 / -1;
}
.gallery-picture-9 {
    grid-area: 1 / 11 / 4 / -1;
}
.gallery-picture-10 {
    grid-area: 7 / 5 / 11 / 11;
}
.gallery-picture-11 {
    grid-area: 8 / 1 / 11 / 5;
}
.gallery-picture-12 {
    grid-area: 11 / 8 / -1 / 11;
}
.gallery-picture-13 {
    grid-area: 11 / 5 / -1 / 8;
}
.gallery-picture-14 {
    grid-area: 11 / 1 / -1 / 5;
}
}

@media all and (min-width:1024px){
  
    .navbar {
        display: flex;
        justify-content: flex-end;
        align-self: flex-end;
    }
    ul li {
        display: inline;
        margin-right: 10px;
    }
    .title {
        text-align: left;
        margin-top: 5%;
        margin-left: 10px;
    }
    .text {
        text-align: center;
    }
    #lunahome {
        width: 40%;
    }
    .text-hobby2 {
        margin-top: 38%;
       }
    .text-hobby3 {
        margin-top: 17%;
       }
    .grid-container {
        grid-template-columns: repeat(14, 1fr);
        grid-template-rows: repeat(16, 50px); 
    }
    .gallery-picture-1 {
       grid-area: 1 / 1 / 6 / 4;
    }
    .gallery-picture-2 {
        grid-area: 1 / 4 / 6 / 7;
    }
    .gallery-picture-3 {
        grid-area: 11 / 1 / -1 / 5;
    }
    .gallery-picture-4 {
        grid-area: 1 / 7 / 6 / 11;
    }
    .gallery-picture-5 {
        grid-area: 6 / 1 / 11 / 4;
    }
    .gallery-picture-6 {
        grid-area: 11 / 8 / -1 / 11;
    }
    .gallery-picture-7 {
        grid-area: 6 / 9 / 11 / 12;
    }
    .gallery-picture-8 {
        grid-area: 1 / 13 / 6 / -1;
    }
    .gallery-picture-9 {
        grid-area: 6 / 12 / 11 / -1;
    }
    .gallery-picture-10 {
        grid-area: 11 / 5 / -1 / 8;
    }
    .gallery-picture-11 {
        grid-area: 6 / 4 / 11 / 7;
    }
    .gallery-picture-12 {
        grid-area: 6 / 7 / 11 / 9;
    }
    .gallery-picture-13 {
        grid-area: 1/ 11 / 6 / 13;
    }
    .gallery-picture-14 {
        grid-area: 11 / 11 / -1 / -1;
    }
 }